body {
    background-color: darkgray;
}
.imggrid {
     display: flex;
     flex: 50%;
     margin-left: auto; 
     margin-right: auto;
}
.row {
    flex-wrap: wrap;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
    /* thx free code camp */
}